*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
   /* background-image: url('https://images.hdqwalls.com/wallpapers/vaporwave-zl.jpg');*/
    background-size: 100%;
    text-align: center;
}

#title { 
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#color-palette{
    height: 40px;
    text-align: center;
}

.color {
    display: inline-block;
    border: #000 solid 1px;
    width: 40px;
    height: 40px;
    margin-left: 1px;
    cursor: pointer;
}

#pixel-board {
    margin: auto;
    margin-top: 20px;
    border-spacing: 1px;
    display: table;
}


.line {
    display: table-row;
    width: 40px;
    height: 40px;
}

.pixel {
    display: table-cell;
    border: #000 solid 1px;
    width: 40px;
    height: 40px;
    background-color: white;
}

.selected {
    background-color: #000000;
}

#clear-board {
    margin-top: 20px;
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #4CAF50;
    transition-duration: 0.4s;
    cursor: pointer ;
}

#clear-board:hover {
    background-color: #4CAF50; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }